<div class="container">
    <h1>Gracias por tu compra {{user.username}}</h1>
</div>

<script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 
    function volver() {
        setTimeout(() => redireccionar('/productos'), 2500);
    }
    volver(); 
</script>